{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <h2>Search!</h2>

    <form method="get" action="{% url "houses:search" %}">
        <div>
            <label for="city">City</label>
            <input value="{{city}}" id="city" name="city" placeholder="Search By City" />
        </div>

        <div>
            <label for="country">Country</label>
            <select id="country" name="country" >
                {% for country in countries  %}
                    <option value="{{country.code}}" {% if country.code == s_country %}selected{% endif %}>
                        {{country.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <label for="house_type">House Type</label>
            <select id="house_type" name="house_type" >
                    <option value="0" {% if 0 == s_house_type %}selected{% endif %}>Any Type</option>
                {% for house_type in house_types  %}
                    <option value="{{house_type.pk}}"{% if house_type.pk == s_house_type %}selected{% endif %}>
                        {{house_type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button>Search</button>
    </form>

{% endblock content %}